<h4 class="text-center">Ingresar Materia Nueva</h4>
<hr>
<div *ngIf="formularioIncorrecto" class="text-center">
    <span class="badge bg-danger textError">{{ textIncorrecto | uppercase }}</span>
</div>
<div class="form-group mb-4">
    <label for="gasto">Materia</label>
    <input type="text" id="gasto" [(ngModel)]="nombreGasto"
            class="form-control form-control-lg" placeholder="Ej: Asignatura..">
</div>
<div class="form-group mb-4">
    <label for="cantidad">Cantidad</label>
    <input type="number" id="cantidad" [(ngModel)]="cantidad"
            class="form-control form-control-lg" placeholder="Ingrese cantidad..">
</div>
<button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agregarGasto()">AGREGAR MATERIA</button>
